h2 {
	text-transform: uppercase;
}

.session1 {
	/*height:450px;*/
	position: relative;
	width: 100%;
	background-color: lightgray;
}

.session1 img {
	width: 100%;
	height: 500px;
	object-fit: cover;
	margin-bottom: 0;
	z-index: -1;
}

.title{
	position: relative;
	bottom: 300px;
	/*top:250px;*/
	text-align: center;
	z-index: 1;
	font-size: 2.0em;
	font-weight: 900;
	color: white;
	text-shadow: 3px 3px black;
	
}

.session1:before {
	position: absolute;
	content: '';
	width: 50%;
	height: 200px;
	top: 430px;
	left:0;
	background-color: lightgray;
	transform: skewY(10deg);
	z-index: 1;
}

.session1:after {
	position: absolute;
	content: '';
	width: 50%;
	height: 200px;
	top: 430px;
	right:0;
	background-color: lightgray;
	transform: skewY(-10deg);
	z-index: 1;
}



.session2 {
	margin-top:-40px; 
	width: 80%;
	background-color: lightgray;
	color: black;
	height: auto;
	padding-top:30px;
	position: relative;
	width: 100%;
	z-index: 1;
	text-align: center;
	font-size: 1.2em;
	text-align: center;
	line-height: 1.5em;
	display: table;
	padding-bottom: 30px;
}

.session2:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	right:0;
	bottom:0;
	left:0;
	background-color: lightgray;
	transform-origin: top right;
	transform: skewY(-5deg);
	z-index: -1;
	/*display: block;*/
}


.t3 {
	margin-top:8%; 
	width: 80%;
	background-color: white;
	height: auto;
	padding-top:30px;
	position: absolute;
	width: 100%;
	z-index: -1;
	text-align: center;
	font-size: 1.2em;
}

/*.session2:before {
	position: absolute;
	content: '';
	width: 50%;
	height: 140px;
	top: -110px;
	left:0;
	background-color: lightgray;
	transform: skewY(10deg);
	z-index: -1;
}

..session2:after {
	position: absolute;
	content: '';
	width: 50%;
	height: 140px;
	top: -110px;
	right:0;
	background-color: lightgray;
	transform: skewY(-10deg);
	z-index: -1;
}*/

.content p{
	width: 80%;
	margin:0 auto;
	margin-top: 3%;
	text-align: justify;
}






/*column and row*/
.row, .row_reverse{
	/*margin: 0 5px;*/
  margin: 0 auto;
/*  margin-top: 50px;
  margin-bottom: 63px;*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
  .row_reverse {
  	flex-direction: column-reverse;
  }
}



.column {
  float: left;
  width: 30%;
  margin:2%;
  min-width: 450px;
  align-self: center;
  /*margin-right: 100px;*/
}



/* Responsive columns 
/*@media screen and (max-width: 700px) {
  .column {
    margin-top: 50px;
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 10%;
  }

}

@media screen and (max-width: 1061px) {

  .row {
    margin: 0 10%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}*/

/* Style the course container */
.course_container {
  position: relative;
  width: 54%;
  /*width: 108%;*/
}

.image {
  display: block;
  width: 100%;
  /*object-fit: cover;*/
  height: auto;
  width: 450px;

  /*min-width: 50px;
  min-height:50px;
  max-width: 350px;
  max-height:300px;*/
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #40DBE5;
}

.course_container:hover .overlay {
  opacity: 0.95;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-exp {
  text-align: justify; 
  /*margin-left: 30px;*/
  margin-top: 0px;"
}

.align-left {
  text-align: left;
}

.align-justify {
  text-align: justify;
}
