html, body {
  margin: 0px;
  padding: 0px;;
  height: 100%;
  background-color: #F5F5F5;
  height: 100%;
}

/*Large box*/
.flexcontainer a {
  color: #000000;
  text-decoration: none;
}

.flexcontainer a:link, .flexcontainer a:visited, .flexcontainer a:hover {
  color: #000000;
}

.flexcontainer {
  margin: 50px;

}

.flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

}

.flexbox .col {
  flex: 1;
  padding: 2px;
}

.flexbox .col:nth-child(1) {
  order: 1;
  flex: 8;
  text-align: left;
}

.flexbox .col:nth-child(2) {
  order: 0;
  flex: 2;
  text-align: left;
}

.flexcontainer img {
  border-radius: 50%;
  border: 1px solid black;
  max-width: 150px;
  max-height: 180px;
}

.flexcontainer form {
	margin-top: 15px;
}

.flexcontainer textarea {
	margin-top: 15px;
}