.footer {

  background-color: #1E90FF;
  width: 100%;
  height: auto;
  position: relative;
  /*top: 20px;
  margin-top: 20px;*/
  text-align: left;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.footer img {
  max-width = 30px;
}

.text-white {
  color: white;
  padding: 50px;
  font-size: 20px;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.footerrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding: 20px;
    color:rgba(20,46,103,1)
}

@media (min-width: 992px) {
  .footerrow {
      padding: 85px;
  }

}

.footercolumn {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.6;
    /*border:1px solid black;*/
}

@media (min-width: 992px) {
  .footercolumn {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
  }

  
}

.footer2 {
  background-color: rgba(20,46,103,1); 
  height: auto; 
  color: white; 
  font: Goergia; 
  padding: 20px;
  /*margin-top: 20px;*/
  display: flex;
  align-items: center;
  width: 100%;
  /*padding-left: 100px;*/
}


