html, body {
	margin: 0px;
	padding: 0px;;
	height: 100%
	background-color: skyblue;
}

body {
	overflow-x: hidden;
}

a{
  text-decoration: none;
}

.nav_item a:hover{
  color: lightgray;
  text-decoration: none;
}

a:visited{
  color: white;
  text-decoration: none;
}


.header{
	height: auto;
	width: 100%;
	/*display: flex;
	justify-content: center;*/
}

.header_container a {
	width: fit-content;
	position: relative;
	left: 27.5%;
}

.header_container a:hover {
  transform: translate(40px, 0px) scale(1.1); 
  transition: .2s;
}


.header_container{
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	position: absolute;
	z-index: 1;
	flex-direction: column;
	align-items: center;
	background-color: rgba(20,46,103,0.75);
}


#main_logo {
	object-fit: contain;
	width: 40%;
	padding-bottom: 10px;
	box-sizing: border-box;
}

#main_logo: hover{
	transform: scale(1.3);
	transition: .2s;
}


.navigation_bar {
	padding:10px; 
	color:white;
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin:0 auto;
	border-top:3px solid white;
	padding-top: 10px;
	box-sizing: border-box;
}

.nav_item {
	display: inline-block;
	font-weight:900;
	/*font-size: 22px;*/
	font-size: 1.6vw;
	padding:5px;
	text-align: center;
	margin-left:2%;
	margin-right:2%;
}

.nav_item:hover {
  color: lightgray;
  transform: scale(1.2);
  transition: .2s;
}


.video_container {
  width: 100%;
  z-index: -1; 
}


#IntroVideo {
	width: 100%;
	height: auto;

}
