html, body {
	margin: 0px;
	padding: 0px;
	background-color: skyblue;
}

#main_logo{
	margin:0 auto;
	width: 50%;

}

.navigation_bar {
	background-color:#02234e; 
	padding:10px; 
	color:white;
	display: flex;
	justify-content: space-around;
}

.nav_item
{
	display: inline-block;
	/*width:150px;
	font-weight:900;
	padding:10px;
	text-align: center;*/
}