html, body {
	margin: 0px;
	padding: 0px;;
	height: 100%
	background-color: skyblue;
}


.cover_container{
	min-height: 600px;
	height: auto;
	width: 100%;
	/*background-image: url("bg.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;*/


    /*position: relative;*/
	
}

.logo_container{
	width: 95%;
	display: flex;
	justify-content: center;
	/*height: 120px;*/
	/*border-bottom:3px solid white;	*/
	margin: 0 auto;
	position: absolute;
	/*top:5%;*/
	left: 2.5%;
	z-index: 1;
	flex-direction: column;
	align-items: center;
	


}


#main_logo {
	object-fit: contain;

	width: 35%;

	padding-bottom: 10px;
	


	/*position: absolute;*/

	/*border: 2px black solid;*/
	/*left:30%;*/


}

.navigation_bar {
	/*background-color:#02234e; */
	padding:10px; 
	color:white;
	display: flex;
	justify-content: space-between;
	/*border: 1px solid black;*/
	width: 90%;
	margin:0 auto;
	border-top:3px solid white;
	padding-top: 10px;



}

.nav_item
{
	display: inline-block;
	/*width:150px;*/
	font-weight:900;
	font-size: 22px;
	padding:5px;
	text-align: center;


}

.video_container {
  width: 100%;
  position: absolute;
 
}


#IntroVideo {
	width: 100%;
	height: auto;
}
