html, body {
	margin: 0px;
	padding: 0px;;
	height: 100%
	background-color: skyblue;
}

/*#introVideo {
	width: 100%;
	height: auto;
}
*/

.cover_container{
	min-height: 600px;
	height: auto;
	width: 100%;
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    /*position: relative;*/
	
}

.logo_container{
	width: 95%;
	display: flex;
	justify-content: center;
	height: 120px;
	/*overflow: hidden;*/
	border-bottom:3px solid white;	
	margin: 0 auto;

}

#main_logo {
	object-fit: contain;

	width: 35%;
	/*position: absolute;*/

	/*border: 2px black solid;*/
	/*left:30%;*/


}

.navigation_bar {
	/*background-color:#02234e; */
	padding:10px; 
	color:white;
	display: flex;
	justify-content: space-between;
	/*border: 1px solid black;*/
	width: 90%;
	margin:0 auto;
}

.nav_item
{
	display: inline-block;
	/*width:150px;*/
	font-weight:900;
	font-size: 22px;
	padding:5px;
	text-align: center;


}