html, body {
  margin: 0px;
  padding: 0px;;
  height: 100%;
  background-color: #FFFFFF;
  height: 100%;
}


.header1 {
  width: 100%;
  margin:0 auto;
  margin-top: 5%;
  display: inline-flex;

  justify-content: center;
  align-items: center;
  text-align: center;
}

.header1 a{
  color:black;
}

.header1 a:hover{
  color: gray;
}

.header1 h1 {
  text-align: center;
}

.navigation_arrow {
  font-size: 2em;
  cursor: pointer;
  width:  20px;
  text-align: center;
}

.navigation_arrow:hover{
  color: gray;
}

.back_to_staff_panel a {
  color: #365899;
  text-decoration: none;
}

.back_to_staff_panel  a:link, .back_to_staff_panel  a:visited {
  color: #365899;
}

.back_to_staff_panel  a:hover {
  color: #666565;
  text-decoration: underline;
}

.back_to_staff_panel p {
  color: #666565;
}
.flexcontainer a {
  color: #000000;
  text-decoration: none;
}

.flexcontainer a:link, .flexcontainer a:visited, .flexcontainer a:hover {
  color: #000000;
}

.flexcontainer {
  margin: 50px;

}

.flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

}

.flexbox .col {
  flex: 1;
  padding: 30px;
}

.flexbox .col:nth-child(1) {
  order: 1;
  flex: 7;
  border-left: 1px solid black;
}

.flexbox .col:nth-child(2) {
  order: 0;
  flex: 3;
  text-align: center;
}

.flexbox .title-box {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
}

.title-box h3 {
  margin: 0 auto;
  color: #000000;
  display: block;
  padding: 1em;
}

.hover {
  position: relative;
  top: 20%;
  margin: 0 auto;
  text-align: left;
  width: 100%;
  transition: transform 300ms ease-in-out;
  transition: 600ms ease-in-out;
}

.hover:hover {
  background: #f0f0f0;
  transform: scale(1.1, 1.1);
  border: 2px #eee solid;
}

.flexcontainer hr {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

.flexcontainer img {
  border-radius: 50%;
  border: 1px solid black;
  width: 200px;
  height: 200px;
}

.flexcontainer button {
  color: #000000;
  text-decoration: none;
}