<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>AdminLoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <servlet-class>AdminLogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <url-pattern>/AdminLogoutServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <servlet-class>DeleteStaffServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <url-pattern>/DeleteStaffServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteNewsServlet</servlet-name>
        <servlet-class>DeleteNewsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteNewsServlet</servlet-name>
        <url-pattern>/DeleteNewsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddStaffServlet</servlet-name>
        <servlet-class>AddStaffServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddStaffServlet</servlet-name>
        <url-pattern>/AddStaffServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddNewsServlet</servlet-name>
        <servlet-class>AddNewsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddNewsServlet</servlet-name>
        <url-pattern>/AddNewsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ModifyNameServlet</servlet-name>
        <servlet-class>ModifyNameServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ModifyNameServlet</servlet-name>
        <url-pattern>/ModifyNameServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ModifyNewsServlet</servlet-name>
        <servlet-class>ModifyNewsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ModifyNewsServlet</servlet-name>
        <url-pattern>/ModifyNewsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ModifyPositionServlet</servlet-name>
        <servlet-class>ModifyPositionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ModifyPositionServlet</servlet-name>
        <url-pattern>/ModifyPositionServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ModifySchoolServlet</servlet-name>
        <servlet-class>ModifySchoolServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ModifySchoolServlet</servlet-name>
        <url-pattern>/ModifySchoolServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ModifyTelServlet</servlet-name>
        <servlet-class>ModifyTelServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ModifyTelServlet</servlet-name>
        <url-pattern>/ModifyTelServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ModifyEmailServlet</servlet-name>
        <servlet-class>ModifyEmailServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ModifyEmailServlet</servlet-name>
        <url-pattern>/ModifyEmailServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ModifyEduServlet</servlet-name>
        <servlet-class>ModifyEduServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ModifyEduServlet</servlet-name>
        <url-pattern>/ModifyEduServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ModifyResearchServlet</servlet-name>
        <servlet-class>ModifyResearchServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ModifyResearchServlet</servlet-name>
        <url-pattern>/ModifyResearchServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ModifyAcademicServlet</servlet-name>
        <servlet-class>ModifyAcademicServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ModifyAcademicServlet</servlet-name>
        <url-pattern>/ModifyAcademicServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ModifyRepresentativeServlet</servlet-name>
        <servlet-class>ModifyRepresentativeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ModifyRepresentativeServlet</servlet-name>
        <url-pattern>/ModifyRepresentativeServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StaffImageServlet</servlet-name>
        <servlet-class>StaffImageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StaffImageServlet</servlet-name>
        <url-pattern>/StaffImageServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddStaffFilter</servlet-name>
        <servlet-class>AddStaffFilter</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddStaffFilter</servlet-name>
        <url-pattern>/AddStaffFilter</url-pattern>
    </servlet-mapping>


</web-app>